.background    { background: rgb(52, 166, 251);
    table-layout: fixed;
    border-spacing: 0;
    position: relative;
    left: 0px;
    top: 0px;
    }

.game {
    position: relative;
    }

.background td { padding: 0;}

.snake {background: yellow;
     position: absolute;}

.bean {background: blue;
    position: absolute;}